/*     Display     */

.grid-table {
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 1px));
    grid-template-rows: auto;
    background-color: #eee;
    margin: 20px;
    gap: 1px;
}

.grid-table > div {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
}

.media-poster {
    grid-row: span 5;
    justify-content: center;
}
.media-poster img {
    max-width: 70%;
}

.imdb-title, .imdb-year, .imdb-runtime {
    grid-column: 2;
}
.imdb-genre {
    grid-column: 4 / span 2;
    grid-row: span 3;
}

.imdb-plot {
    grid-column: span 4;
}

.imdb-score {
	grid-column: span 2;
    background-color: #222;
    color: white;
    justify-content: center;
    gap: 5px;
}
.rottom-score {
    grid-column: span 2;
    background-color: #eee;
    justify-content: space-evenly;
}
.rottom-divider {
    width: 1px;
    background-color: black;
    height: 100%;
}
.rottom-score img {
    height: 24px;
}
