*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties */

:root {
	--ff-primary: Arial, sans-serif;
	--ff-secondary: Arial, monospace;

	--fw-reg: 300;
	--fw-bold: 900;

	--bg-grad: linear-gradient(#fff 50%, #dedede) no-repeat center center fixed;
	--clr-text0: #202020;
	--clr-text1: #ececec;

	--clr-timeline: #151525;
	--clr-timeline-img: #5d5d6d;
	--clr-timeline-btn: #2d2d3d;
	--clr-img-border: #202020;

	/* header */
	--clr-background: #ececec;
	/* search stuff */
	--clr-search: #FC6600;
	/* skills */
	--clr-bg2: #5d5d6d;
	/* timeline cards */
	--clr-bg3: #d5d5d5;

	/*	--clr-bg3: #2d2d3d;*/

	--clr-footer: #151525;
	--clr-footer-txt: #ececec;

	--fs-h1: 2.5rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


/* @media (min-width: 600px) {
	:root {
		--fs-h1: 2.5rem;
		--fs-h2: 2rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.05rem;
	}
} */

body {
	/* background: #f2f2f2; */
	margin: 0;
}


/*     Header     */

.header-section {
	min-height: 10vh;
	background-color: var(--clr-background);
	margin-bottom: 10px;
	/* width: 100%; */
	/* height: 10%; */
}

/* .header-bar { */
	/* width: 100%; */
	/* height: 10%; */
/* } */


/*     Search     */

.search-section {
	display: flex;
	justify-content: center;
}

.search-wrap, .search-results {
	width: 50%;
}

.search-bar {
	width: 100%;
	display: flex;
	position: relative;
	/* top: 3px; */
}

.search-input {
	width: 100%;
	border: 3px solid var(--clr-search);
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
}

/* .search-input:focus{
	color: #00B4CC;
  } */

.searchButton {
	width: 50px;
	border: 1px solid var(--clr-search);
	background: var(--clr-search);
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.search-dropdown>* {
	width: 100%;
	cursor: pointer;
}

.search-results {
	border: 3px solid var(--clr-search);
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;
	/* position: relative; */
	/* bottom: 3px; */
	position: absolute;
  }
  
  .search-results-item {
	cursor: default;
	display: flex;
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0;
	background-color: white;
	align-items: center; /* Center vertically */
    /*justify-content: center; /* Center horizontally */
}

.search-results-item > p {
	margin: 0;
}
.search-results-item:hover {
	background-color: var(--clr-background);
  }
  
.search-item-title, .search-item-year {
	text-align: center;
	flex: 1;
}
/* .search-item-year {
	text-align: center;
	flex: 1;
} */

.search-item-img {
	max-width: 10%;
}
/* 
.search-table-item:hover {
} */

@media (max-width: 1024px) {
	.search-item-img {
		max-width: 15%;
	}

	/* .search-results { */
		/* width: 80%; */
	/* } */
}

@media (max-width: 512px) {
	.search-wrap, .search-results {
		width: 80%;
	}

	/* .search-results { */
		/* width: 80%; */
	/* } */
}


/*     Display     */

.display-info {
	margin: 20px;
}