*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties */

:root {
	--ff-primary: Arial, sans-serif;
	--ff-secondary: Arial, monospace;

	--fw-reg: 300;
	--fw-bold: 900;

	--bg-grad: linear-gradient(#fff 50%, #dedede) no-repeat center center fixed;
	--clr-text0: #202020;
	--clr-text1: #ececec;

	--clr-timeline: #151525;
	--clr-timeline-img: #5d5d6d;
	--clr-timeline-btn: #2d2d3d;
	--clr-img-border: #202020;

	/* header */
	--clr-background: #f2f2f2;
	/* search stuff */
	--clr-search: #FC6600;
	/* skills */
	--clr-bg2: #5d5d6d;
	/* timeline cards */
	--clr-bg3: #d5d5d5;

	/*	--clr-bg3: #2d2d3d;*/

	--clr-footer: #151525;
	--clr-footer-txt: #ececec;

	--fs-h1: 2.5rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* @media (min-width: 600px) {
	:root {
		--fs-h1: 2.5rem;
		--fs-h2: 2rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.05rem;
	}
} */


body {
	background: var(--clr-background);
	margin: 0;
	font-family: Tahoma;
}


/*     Header     */
.header-section {
	min-height: 10vh;
	margin-bottom: 10px;
	/* background-color: var(--clr-background); */
}

/*     Footer     */
.footer-section {
	position: fixed;
    bottom: 0;
	width: 100%;
	display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #111;
	color: white;
	display: none;
}

.icon {
    margin: 0 10px;
}

.icon img {
    width: 30px;
    height: auto;
}
